/*
 * logo div settings
 */
 .navbar-logo-set{
  background-color: #FEDBD0;
  padding-top: .7rem;
  }
  
  .logo-set{
    padding: 20px 0 0 0;
  }
  .logo-color{
   color: #442C2E !important;
  }
  .shadow-logo-box{
    box-shadow: 0px 10px 17px -2px #07070733;
  }
